$etsu-blue: #0A2145;
$etsu-gold: #FFC425;

// Changing default Bulma variables
$modal-content-width: 980px;
$navbar-background-color: $etsu-blue;
$navbar-item-color: $white;
$navbar-item-hover-color: $etsu-gold;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $etsu-gold;
