@import 'tailwindcss/base';
@import './base.css';

@import 'tailwindcss/components';
@import './components.css';

@import 'tailwindcss/utilities';
@import './utilities.css';

@font-face {
  font-family: 'EZLight';
  src: url('~assets/fonts/ez-sans-light.woff2') format('woff2');
}
@font-face {
  font-family: 'EZMedium';
  src: url('~assets/fonts/ez-sans-medium.woff2') format('woff2');
}
@font-face {
  font-family: 'EZBold';
  src: url('~assets/fonts/ez-sans-bold.woff2') format('woff2');
}