$etsu-blue: #0A2145;
$etsu-gold: #FFC425;
$white: #fff;

$red: #c11437;
$green: #059035;
$blue: $etsu-blue;
$yellow: $etsu-gold;

/*$colors: (
    //"primary": ($primary, $primary-invert),
    "info": ($blue, $white),
    "success": ($green, $white),
    //"warning": ($warning, $warning-invert),
    "danger": ($red, $white)
);*/

$speed-slow: 150ms;


// Changing default Bulma variables
$modal-content-width: 980px;
$navbar-background-color: $etsu-blue;
$navbar-item-color: $white;
$navbar-item-hover-color: $etsu-gold;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $etsu-gold;
