
/* 
 * For an unknown amount of elements
 * can cause a delay if changing tabs with lots of elements
 */
.unlimitedfadein {
  animation-name: animateIn;
  animation-duration: 100ms;
  animation-delay: calc(var(--animation-order) * 50ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

/*
 * Known amount of elements
 * or a large amount, but only the first 6 are actually seen by the user
 */
.limitedfadein {
  --delay: calc(var(--i, 1) * 50ms);
  animation-name: animateIn;
  animation-duration: 100ms;
  animation-delay: var(--delay);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;

  &:nth-child(2) {
    --i: 2;
  }
  &:nth-child(3) {
    --i: 3;
  }
  &:nth-child(4) {
    --i: 4;
  }
  &:nth-child(5) {
    --i: 5;
  }
  &:nth-child(6) {
    --i: 6;
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }
  
  100% {
    opacity: 1;
  }
}