//To change any breakpoints or color variables do so here
@import '~mustard-ui/src/scss/vars/breakpoints.scss';
@import '~mustard-ui/src/scss/vars/colors.scss';

//To change any breakpoints or color variables do so here
$font-family: 'EZMedium', sans-serif;
$heading-font-family: 'EZBold', sans-serif;

$color-blue: #002D62;
$color-gold: #FFC425;

$body-bg-color: $color-gray-200;
$brand-color: $color-blue;

$nav-bg-color: $color-blue;
$nav-link-color: $color-white;
$nav-link-active-color: $brand-color;
$nav-menu-toggle-color: $color-gray-800;

$game-breakpoint: 59.9375em;
